<div class="col-10 offset-1 about">
<div class="col-10 offset-1">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/sfharris">Samuel Harris,</a> An aspiring web developer.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'sam.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Samuel Harris</h2>
      <br />
      <p>
        Samuel Harris is a student at The Univerity of Texas's online coding bootcamp. Samuel has lived in 5 different states and currently resides in Houston, Texas. Samuel's work background is in Automotive, Law Enforcement, Retail, and Service. He as a passion for computers and gaming.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />